.header {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--cor-borda);
  padding: 15px 50px;
  width: 100%;
}

.headerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.profInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profName {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.profDate{
  color: var(--cor-subtexto);
  font-size: 0.9rem;
  text-transform: capitalize;
}

.notificationButton {
  padding: 0px;
  background-color: transparent;
  font-size: 1.3rem;
  color: var(--cor-subtexto);
}

.notificationButton span {
  margin-left: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--cor-texto);
}

.profInitials {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--cor-primaria);
}

