.card {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--cor-fundo-card);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--cor-borda);
  transition: box-shadow .2s ease;
  &:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.062);
  }
}

.infoGeral {
  display: flex;
  flex-direction: column;
  gap: 5px;
  & .infoTarefa {
    display: flex;
    align-items: center;
    gap: 10px;
    & p {
      padding: 5px 10px;
      font-weight: 500;
      font-size: .8rem;
      border-radius: 10px;
      /* Mistura duas cores, para clarear a borda */
      border: 1px solid color-mix(in srgb, currentColor 30%, white 70%);
    }
    & .materia {
      background-color: var(--cor-primaria-light);
      color: var(--cor-primaria);
    }
  }
}

.descricao {
  display: flex;
  flex-direction: column;
  gap: 5px;
  & h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cor-texto-destaque);
  }
  & p {
    color: var(--cor-subtexto);
  }
}

.outrasInfo {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  & li {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: .9rem;
    gap: 5px;
    color: var(--cor-subtexto);
    & span {
      background-color: var(--cor-primaria);
      color: white;
      padding: 5px;
      border-radius: 50%;
      font-weight: 400;
    }
  }
}

.containerAcao {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
  & .prazo {
    font-size: 1rem;
    color: var(--cor-subtexto);
    margin-bottom: 5px;
  }

  & .pontos {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cor-primaria);
    margin-bottom: 20px;
  }

  & .botaoAcao {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 8px 10px;
    transition: all .2s ease;
    border: 1px solid var(--cor-primaria);
    & p, svg {
      color: white;
    }
    & svg {
      font-size: 1.5rem;
    }
    &:hover {
      background-color: var(--cor-primaria-hover);
    }
  }

  & .botaoAvaliado {
    background-color: white;
    border-color: var(--cor-borda);
    & p, svg {
      color: var(--cor-texto);
    }
    &:hover {
      background-color: color-mix(in srgb, white 92%, black 8%);
    }
  }
}