.card {
  background-color: var(--cor-fundo-card);
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var(--cor-borda);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.identificador {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: var(--cor-primaria);
  font-size: 1.25rem;
  border-radius: 10px;
}

.identificador p {
  color: white;
  font-weight: 500;
}

.nomeTurma {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nomeTurma h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

.materia {
  font-size: 0.9rem;
  background-color: var(--cor-primaria-light);
  padding: 2px 10px;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
  color: var(--cor-primaria);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.details li {
  display: flex;
  justify-content: space-between;
}

.details li p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cor-subtexto);
}

.details li p:last-child {
  color: var(--cor-texto);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--cor-texto);
  padding: 10px 20px;
  border: 1px solid var(--cor-borda);
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.link:hover {
  background-color: var(--cor-bt-white-hover);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
  }

  .nomeTurma {
    flex-direction: column;
    gap: 10px;
  }

  .details li {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
