.container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  & .childrenContainer {
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box; 
  }
}