.widget {
  background-color: var(--cor-fundo-card);
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var(--cor-borda);
  grid-column: 1 / 3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.title span {
  width: 5px;
  height: 25px;
  background-color: var(--cor-primaria);
  border-radius: 5px;
}

.badge {
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
  border-radius: 10px;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--cor-primaria-light);
  border: 1px solid color-mix(in srgb, var(--cor-primaria) 20%, white 80%);
}

.atividadeTitle {
  font-size: 1rem;
  width: 42px;
  height: 42px;
  background-color: color-mix(in srgb, var(--cor-primaria) 15%, white 85%);
  color: var(--cor-primaria);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.containerInfo h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.containerInfo ul {
  display: flex;
  gap: 10px;
  align-items: center;
}

.containerInfo ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  color: var(--cor-subtexto);
}

.data {
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid color-mix(in srgb, var(--cor-primaria) 20%, white 80%);
  background-color: color-mix(in srgb, var(--cor-primaria) 15%, white 85%);
  color: var(--cor-primaria);
}

.viewAll {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-texto);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--cor-borda);
  font-weight: 500;
  gap: 5px;
  transition: all 0.2s ease;
}

.viewAll:hover {
  background-color: var(--cor-bt-white-hover);
}

@media (max-width: 768px) {
  .item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .containerInfo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
  }

  .containerInfo ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .containerInfo h4 {
    text-align: center;
  }

  .data {
    align-items: center;
  }
}
