.card {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid var(--cor-borda);
}

.cardTitle {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 10px;
  margin-bottom: 20px;
  color: var(--cor-texto-destaque);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--cor-borda);
}

.cardTitle span {
  width: 5px;
  height: 25px;
  background-color: var(--cor-primaria);
  border-radius: 5px;
}

.sugestoesContainer {
  margin-bottom: 1.5rem;
}

.sugestoesContainer p {
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.sugestoesBadges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.badge {
  background-color: transparent;
  color: var(--cor-subtexto);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border: 1px solid var(--cor-borda);
  border-radius: 10px;
  transition: all 0.2s ease;
  font-weight: 500;
}

.badge:hover {
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

.selectBage {
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

.addRequisito {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.addRequisito input {
  flex-grow: 1;
  padding: 0.75rem;
  border: 1px solid var(--cor-borda);
  border-radius: 8px;
}

.addButton {
  padding: 0.75rem 1.5rem;
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
  border: 1px solid var(--cor-primaria);
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

.requisitosList h4 {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.requisitosList ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid var(--cor-borda);
  padding: 20px;
  border-radius: 15px;
  gap: 10px;
}

.requisitosList li {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 1rem;
  gap: 5px;
  background-color: var(--cor-primaria-light);
  border: 1px solid color-mix(in srgb, var(--cor-primaria) 20%, white 80%);
  color: var(--cor-primaria);
}

.requisitosList button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--cor-subtexto);
  cursor: pointer;
  font-size: 1.1rem;
}
