* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}
