.feedbackContainer {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--cor-borda);
  min-height: 120px;
  & h2 {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color: var(--cor-text-destaque);
    margin-bottom: 20px;
    & svg {
      font-size: 1.3rem;
      & path {
        color: var(--cor-primaria);
      }
    }
  }
  p {
    font-size: 1.1rem;
    color: var(--cor-subtexto);
  }
}
