.container {
  background-color: var(--cor-fundo-card);
  border-radius: 15px;
  padding: 1.5rem;
  border: 1px solid var(--cor-borda);
}

.header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--cor-texto-destaque);
  margin-bottom: 1.5rem;
}

.header svg {
  font-size: 1.2rem;
  color: var(--cor-primaria);
}

.header h2 {
  font-size: 1.2rem;
  font-weight: 600;
  font-weight: 500;
}

.weekContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  flex-basis: 0;
  flex-grow: 1;
  height: fit-content;
  background-color: #f9fafb;
}

.dayName {
  font-size: 0.8rem;
  color: var(--cor-subtexto);
  font-weight: 500;
}

.dayNumber {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-texto-destaque);
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.day:hover {
  background-color: #f0f0f0;
}

.day.selected {
  background-color: #e0efff;
}
.dayEventsContainer {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.dayEventTag {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--cor-primaria-light);
  padding: 4px 6px;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider {
  border: none;
  border-top: 1px solid var(--cor-borda);
  margin: 1.5rem 0;
}

.scheduleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.classItem {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.classItem p {
  color: white;
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 20px;
  width: 100%;
}

.classItem svg {
  font-size: 1.2rem;
}

.noClasses {
  font-size: 0.9rem;
  color: var(--cor-subtexto);
  width: 100%;
  text-align: center;
}
.aula {
  background-color: var(--cor-primaria-hover);
}
.prova {
  background-color: #fc5659ff !important;
}
.trabalho {
  background-color: #ff9307;
}
.tarefa {
  background-color: #0a8dd9;
}
.reunião {
  background-color: #a857e2;
}
.feriado {
  background-color: #6b7280;
}
.recuperação {
  background-color: var(--cor-aviso);
}
.evento_escolar {
  background-color: var(--cor-icons-background);
}

@media (max-width: 768px) {
  .container {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  .weekContainer {
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
  }

  .day {
    min-width: 120px;
    flex-shrink: 0;
  }

  .scheduleContainer {
    flex-direction: column;
  }

  .classItem {
    width: 100%;
  }
}
