.barContainer {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  height: 8px;
  border-radius: 20px;
  background-color: rgb(231, 231, 231);
  & span {
    height: 100%;
    background-color: var(--cor-texto-destaque);
  }
}