.cardsContainer {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;

  & li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--cor-fundo-card);
    padding: 20px;
    width: 100%;
    max-width: 260px;
    border-radius: 10px;
    border: 1px solid var(--cor-borda);

    & div p {
      font-size: 1rem;
      margin-bottom: 5px;
    }

    & div h3 {
      font-size: 1.5rem;
      font-weight: 400;
    }

    & svg {
      font-size: 1.7rem;
    }
  }

  .cardRanking {
    background-color: var(--cor-envio-light);
    border-color: color-mix(in srgb, var(--cor-envio) 20%, white 80%);
    & div {
      & p {
        color: var(--cor-envio);
      }
      & h3 {
        color: color-mix(in srgb, var(--cor-envio) 60%, black 40%);
      }
    }
    & svg {
      color: var(--cor-envio);
    }
  }

  .cardPresenca {
    background-color: var(--cor-sucesso-light);
    border-color: color-mix(in srgb, var(--cor-sucesso-dark) 30%, white 70%);
    & div {
      & p {
        color: var(--cor-sucesso-dark);
      }
      & h3 {
        color: color-mix(in srgb, var(--cor-sucesso) 60%, black 40%);
      }
    }
    & svg {
      color: var(--cor-sucesso-dark);
    }
  }

  .cardTrabalho {
    background-color: #fff8f0;
    border-color: color-mix(in srgb, #f98600 30%, white 70%);
    & div {
      & p {
        color: #f98600;
      }
      & h3 {
        text-transform: capitalize;
        color: color-mix(in srgb, #f98600 80%, black 20%);
      }
    }
    & svg {
      color: #f98600;
    }
  }

  .cardConquistas {
    background-color: var(--cor-aviso-light);
    border-color: color-mix(in srgb, var(--cor-aviso) 40%, white 60%);
    & div {
      & p {
        color: var(--cor-aviso);
      }
      & h3 {
        color: color-mix(in srgb, var(--cor-aviso) 80%, black 20%);
      }
    }
    & svg {
      color: var(--cor-aviso);
    }
  }

  .cardAulas {
    background-color: var(--cor-primaria-light);
    border-color: color-mix(in srgb, var(--cor-primaria) 30%, white 70%);
    & div {
      & p {
        color: var(--cor-primaria);
      }
    }
    & svg {
      color: var(--cor-primaria);
    }
    & .aulas {
      display: flex;
      flex-direction: column;
      background-color: #f3f8ff;
      padding: 5px 10px;
      border-radius: 5px;
      & h3 {
        display: flex;
        gap: 20px;
        font-size: 1.2rem;
        color: var(--cor-primaria);
      }
    }
  }
}
