.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  & svg {
    font-size: 4rem;
    color: var(--cor-primaria);
    margin-bottom: 20px;
  }

  & p {
    font-size: 1.5rem;
    font-weight: 500;
  } 
}