.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.header p {
  color: var(--cor-subtexto);
  margin-top: 0.25rem;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--cor-borda);
  padding-bottom: 10px;
}

.tabs button {
  padding: 10px 20px;
  border: 1px solid var(--cor-borda) !important;
  background-color: white;
  border-radius: 10px;
  font-weight: 500;
  color: var(--cor-subtexto);
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  font-size: .9rem;
}

.tabs button:hover {
  color: var(--cor-primaria);
}

.tabs .activeTab {
  color: white;
  background-color: var(--cor-primaria);
  border-bottom: 5px solid var(--cor-primaria-dark) !important;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.geralContainer {
  background-color: var(--cor-fundo-card);
  border-radius: 12px;
  padding: 2rem;
  border: 1px solid var(--cor-borda);
}

.error {
  color: var(--cor-perigo);
  background-color: var(--cor-perigo-light);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--cor-perigo);
  margin-bottom: 1rem;
}
