.pageContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 200px 200px 1fr;
  gap: 20px;
}

.statsGrid {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}