.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-fundo-card);
  height: 100vh;
  overflow: hidden;
  padding: 0px 100px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-left: 200px;
  & .button {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: var(--cor-primaria);
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    &:hover {
      background-color: var(--cor-primaria-hover);
    }
  }
}

.title {
  text-align: center;
  max-width: 400px;
  & h1 {
    color: var(--cor-primaria-dark);
    margin-bottom: 10px;
  }
  & p {
    font-size: 1.2rem;
    color: var(--cor-texto-destaque);
    font-weight: 500;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 20px;
  & label {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
    font-weight: 500;
    & p {
      margin-left: 10px;
      color: var(--cor-texto);
    }
    & input {
      border-radius: 10px;
    }
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  & img {
    z-index: 1000;
    max-width: 550px;
  }
  & .circle01 {
    position: absolute;
    z-index: 2;
    top: -150px;
    left: 200px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--cor-primaria);
  }
  & .circle02 {
    position: absolute;
    z-index: 1;
    bottom: -150px;
    left: 50px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: var(--cor-primaria-dark);
  }
}

.forgotPasswordLink {
  color: var(--cor-subtexto);
  transition: color .2s ease;
  &:hover {
    color: var(--cor-primaria);
  }
}