.titulo h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.titulo p {
  color: var(--cor-subtexto);
  margin-bottom: 20px;
}

.filtersContainer {
  background-color: white;
  padding: 20px;
  border: 1px solid var(--cor-borda);
  border-radius: 15px;
}

.filtersContainer h2 {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 10px;
  margin-bottom: 10px;
}

.filtersContainer h2 svg {
  color: var(--cor-primaria);
}

.filtersRow {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filtersRow div:first-child {
  display: flex;
  align-items: last baseline;
  width: 80%;
  gap: 20px;
}

.filtersRow label {
  max-width: 300px;
  width: 100%;
}

.filtersRow label p { 
  color: var(--cor-subtexto);
  margin-bottom: 5px;
  font-size: .9rem;
}

.filtersRow .limparFiltros {
  background-color: white;
  border: 1px solid var(--cor-borda);
  color: var(--cor-texto);
  transition: all .2s ease;
}

.filtersRow .limparFiltros:hover {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
  color: white;
}

.tipoGroup {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  width: fit-content;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--cor-borda);
  padding: 5px;
  gap: 10px;
}

.tipoChip {
  background: var(--cor-fundo-card);
  color: var(--cor-subtexto);
  padding: 10px 20px;
  font-size: .9rem;
  cursor: pointer;
  border-radius: 0px;
  transition: border-color .15s ease, background-color .15s ease, color .15s ease;
  border-radius: 10px;
}
.tipoChip:hover {
  border-color: var(--cor-primaria);
  background-color: rgba(0, 0, 0, 0.101);
}

.activeChip {
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
}

.listaCorrecoes {
  display: grid;
  gap: 12px;
  margin-top: 16px;
  padding: 0;
  list-style: none;
}
