.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--cor-fundo-card);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--cor-borda);
  transition: box-shadow .2s ease;
  &:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.062);
  }
}

.statusContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.statusContainer div {
  display: flex;
  gap: 10px;
}

.statusContainer div p {
  font-size: .9rem;
  padding: 2px 10px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
}

.statusContainer div p:first-child {
  font-size: 0.9rem;
  border: 1px solid color-mix(in srgb, var(--cor-cinza) 40%, white 60%);
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 10px;
  color: var(--cor-subtexto);
  background-color: color-mix(in srgb, var(--cor-cinza) 10%, white 90%)
}

.statusContainer div p:last-child {
  color: var(--cor-primaria);
  background-color: var(--cor-primaria-light);
}

.avaliada {
  background-color: var(--cor-sucesso-light) !important;
  color: var(--cor-sucesso-dark) !important;
}

.pontos {
  font-size: .9rem;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--cor-subtexto);
}

.pontos span {
  font-size: 1.15rem;
  padding: 2px 10px;
  border-radius: 10px;
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
}

.infoContainer h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.otherInfos {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--cor-borda);
  padding-bottom: 20px;
}

.otherInfos p {
  color: var(--cor-subtexto);
  font-size: .95rem;
}

.otherInfos p:last-child {
  display: flex;
  align-items: center;
  gap: 5px;
}

.professor {
  display: flex;
  align-items: center;
  gap: 5px;
}

.professor span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
  font-size: .9rem;
  border-radius: 50%;
}

.actionContainer {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.actionContainer p {
  display: flex;
  align-items: center;
  color: var(--cor-subtexto);
  font-weight: 500;
  gap: 10px;
}

.actionContainer a {
  padding: 10px 20px;
  color: var(--cor-texto);
  font-size: 1rem;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
  border-radius: 10px;
  transition: all .2s ease;
}

.actionContainer a:hover {
  background-color: var(--cor-bt-white-hover);
}

.actionContainer .activeLink {
  background-color: var(--cor-primaria);
  border: 1px solid var(--cor-primaria);
  color: white;
}

.actionContainer .activeLink:hover {
  background-color: var(--cor-primaria-dark);
}