.perfilContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: calc(100% - 150px);
}

.perfilContainer h1 {
  font-size: 2rem;
  font-weight: 600;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 150px 1fr 1fr;
  height: 100%;
  gap: 20px;
}

.perfilCard {
  grid-column: 1 / -1;
}

.infoPessoais {
  grid-row: 2 / 4;
}

.perfilCard,
.infoPessoais,
.infoAcademicas,
.estatisticas {
  padding: 20px;
  border-radius: 15px;
  background-color: var(--cor-fundo-card);
  border: 1px solid var(--cor-borda);
}

.infoAluno .infoIniciais {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-primaria);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.infoAluno div > p {
  display: flex;
  gap: 20px;
  color: var(--cor-cinza-hover);
  margin-bottom: 10px;
}

.infoAluno div > p > span:first-child {
  position: relative;
}

.infoAluno div > p span:first-child::before {
  position: absolute;
  content: '';
  top: 8px;
  right: -13px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--cor-cinza-hover);
}

.infoAluno .status {
  font-size: 0.9rem;
  padding: 2px 10px;
  border-radius: 10px;
}

.activeStatus {
  background-color: var(--cor-sucesso-light);
  color: color-mix(in srgb, var(--cor-sucesso-dark) 60%, black 40%);
}

.perfilCard button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  align-self: baseline;
  background-color: white;
  border: 1px solid var(--cor-borda);
  color: var(--cor-texto);
  border-radius: 10px;
  transition: all 0.2s ease;
}

.perfilCard button:hover {
  background-color: rgba(0, 0, 0, 0.101);
}

.infoPessoais {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoPessoais h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.infoPessoais ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoPessoais ul li {
  border-bottom: 1px solid var(--cor-borda);
  padding-bottom: 20px;
}

.infoPessoais ul li h4 {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cor-cinza-hover);
  font-weight: 400;
  margin-bottom: 5px;
}

.infoPessoais ul li h4 svg {
  font-size: 1.2rem;
}

.infoPessoais ul li p {
  font-size: 1rem;
  margin-left: 30px;
}

.infoAcademicas h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.infoAcademicas ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.infoAcademicas ul li h4 {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cor-cinza-hover);
  font-weight: 400;
  margin-bottom: 5px;
}

.infoAcademicas ul li h4 svg {
  font-size: 1.2rem;
}

.infoAcademicas ul li p {
  margin-left: 30px;
}

.estatisticas h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.estatisticas ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.estatisticas ul li {
  text-align: center;
  padding: 30px 20px;
  width: 100%;
  max-width: 250px;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: 500;
}

.estatisticas ul li p {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 400;
  color: var(--cor-cinza-hover);
}

.estatisticas ul li:nth-child(1) {
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
}

.estatisticas ul li:nth-child(2) {
  background-color: var(--cor-sucesso-light);
  color: var(--cor-sucesso-dark);
}

.estatisticas ul li:nth-child(3) {
  background-color: var(--cor-envio-light);
  color: var(--cor-envio);
}

.modalContainer h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario label p {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  color: var(--cor-cinza-hover);
}

.formulario label p svg {
  font-size: 1.2rem;
}

.formulario .buttons {
  display: flex;
  justify-content: space-evenly;
}

.formulario .buttons button {
  border: 1px solid transparent;
  color: var(--cor-texto);
  background-color: white;
  font-weight: 500;
  font-size: 1.1rem;
  transition: all 0.2s ease;
}

.formulario .buttons button:first-child {
  border-color: var(--cor-borda);
}

.formulario .buttons button:first-child:hover {
  background-color: rgba(0, 0, 0, 0.101);
}

.formulario .buttons button:last-child {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
  color: white;
}

.formulario .buttons button:last-child:hover {
  background-color: var(--cor-primaria-hover);
}
