.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.bimestreBanner {
  display: flex;
  background-color: var(--cor-primaria-light);
  padding: 20px;
  gap: 20px;
  border-radius: 15px;
  border: 1px solid color-mix(in srgb, var(--cor-primaria) 20%, white 80%);
  margin-bottom: 20px;
  align-items: center;
}

.bimestreBanner h2 {
  display: block;
  font-size: 1rem;
}

.bimestreIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  font-size: 1.5rem;
  color: var(--cor-primaria);
  background-color: white;
}

.bimestreBanner span {
  font-size: 0.9rem;
  color: var(--cor-subtexto);
}

.bannerHint {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  gap: 10px;
  background-color: white;
  color: var(--cor-subtexto);
}

.bannerHint svg {
  color: var(--cor-primaria);
}

.header h1 {
  font-size: 2rem;
  font-weight: 700;
}

.header p {
  color: var(--cor-subtexto);
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid var(--cor-borda);
}

.cardTitle {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 10px;
  margin-bottom: 20px;
  color: var(--cor-texto-destaque);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--cor-borda);
}

.cardTitle span {
  width: 5px;
  height: 25px;
  background-color: var(--cor-primaria);
  border-radius: 5px;
}

.grid2cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field label {
  font-weight: 500;
  color: var(--cor-subtexto);
  font-size: 0.9rem;
}

.field label span {
  color: var(--cor-perigo);
}

.attachmentInputRow {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
  border: 1px solid var(--cor-borda);
  margin-top: 10px;
}

.hiddenInput {
  display: none;
}

.customFileUpload {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: #f3f4f6;
  color: #374151;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.95rem;
  transition: all 0.2s ease;
}

.customFileUpload svg {
  font-size: 2rem;
}

.customFileUpload:hover {
  background-color: var(--cor-borda);
}

.customFileUpload:active {
  transform: translateY(0);
  background-color: #d1d5db;
}

.fileCountText {
  color: #6b7280;
  font-size: 0.9rem;
}

.attachmentInputRow {
  display: flex;
  align-items: center;
}

.attachmentInputRow span {
  color: var(--cor-subtexto);
  font-size: 0.9rem;
}

.attachmentList {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.attachmentList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid var(--cor-borda);
  border-radius: 15px;
  background-color: var(--cor-fundo-card);
}

.attachmentList li div {
  display: flex;
  gap: 20px;
}

.attachmentList li p {
  font-weight: 500;
  color: var(--cor-primaria);
}

.attachmentList li span {
  font-size: 1rem;
  color: var(--cor-subtexto);
}

.removeAttachmentButton {
  border: none;
  background: var(--cor-perigo-light);
  color: var(--cor-perigo);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all .2s ease;
}

.removeAttachmentButton:hover {
  background-color: var(--cor-perigo);
  color: var(--cor-perigo-light);
}

.switchContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--cor-fundo-card);
  padding: 0.75rem;
  border-radius: 8px;
  height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-left: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--cor-primaria);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.cancelButton,
.draftButton,
.publishButton {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s;
}

.cancelButton {
  background-color: transparent;
  color: var(--cor-subtexto);
}
.draftButton {
  background-color: #e9ecef;
  color: var(--cor-texto-destaque);
  border: 1px solid var(--cor-borda);
}

.publishButton {
  background-color: var(--cor-primaria);
  color: white;
}

.cancelButton:hover {
  background-color: #f0f0f0;
}
.draftButton:hover {
  border-color: #ccc;
}
.publishButton:hover {
  background-color: var(--cor-primaria-hover);
}
