.card {
  background-color: var(--cor-fundo-card);
  padding: 20px;
  border: 1px solid var(--cor-borda);
  border-radius: 15px;
  transition: box-shadow .2s ease;
}

.card:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.048);
}

.noteAndShortcuts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.shortcuts {
  display: flex;
  gap: 10px;
}

.shortcuts p {
  font-size: .9rem;
  padding: 2px 10px;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
  border-radius: 10px;
  font-weight: 500;
}

.shortcuts p:first-child {
  color: var(--cor-subtexto);
  background-color: color-mix(in srgb, var(--cor-cinza) 10%, white 90%);
}

.shortcuts p:last-child {
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
}

.avaliada {
  background-color: var(--cor-sucesso-light) !important;
  color: var(--cor-sucesso-dark) !important;
}

.pontos {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--cor-subtexto);
  font-size: .9rem;
}

.pontos span {
  font-size: 1.15rem;
  background-color: var(--cor-primaria-light);
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
  padding: 2px 10px;
  border-radius: 10px;
  color: var(--cor-primaria);
}

.infoProva h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.infoProva ul {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--cor-borda);
}

.infoProva ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--cor-subtexto);
  font-size: .9rem;
}

.infoProva ul li:first-child span {
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: .9rem;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
}

.buttonProva {
  display: flex;
  justify-content: space-between;
}

.buttonProva p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--cor-subtexto);
  font-weight: 500;
}

.buttonProva a {
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
  border-radius: 10px;
  color: var(--cor-texto);
  transition: all .2s;
}

.buttonProva a:hover {
  background-color: var(--cor-bt-white-hover);
}

.activeButton {
  background-color: var(--cor-primaria);
  color: white !important;
}

.activeButton:hover {
  background-color: var(--cor-primaria-dark) !important;
}