.dashboardContainer {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
}

.dateInfo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  align-items: center;

  & .weekDay {
    font-size: 1rem;
    color: var(--cor-subtexto);
    text-transform: capitalize;
  }

  & .monthDay {
    font-size: 1.2rem;
    color: var(--cor-texto);
    text-transform: capitalize;
  }
}

.bodyDashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(1fr, 5);
  gap: 20px;
}

@media (max-width: 1024px) {
  .bodyDashboard {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .bodyDashboard {
    display: flex;
    flex-direction: column;
  }
}
