.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  gap: 5px;
  background-color: var(--cor-fundo-card);
  border: 1px solid var(--cor-borda);
  border-radius: 15px;
  width: 200px;
}

.iconWrapper {
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
  border-radius: 15px;
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--cor-subtexto);
  font-size: 0.9rem;
}

.value {
  color: var(--cor-primaria);
  font-weight: 500;
  font-size: 1.75rem;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px;
    gap: 15px;
  }

  .content {
    align-items: flex-start;
  }

  .value {
    font-size: 1.5rem;
  }
}
