.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  background-color: white;
  border: 1px solid var(--cor-borda);
  border-radius: 15px;
  overflow: hidden;
}

.header {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var(--cor-borda);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tabs button {
  background-color: white;
  border: 1px solid var(--cor-borda);
  color: var(--cor-texto);
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
}

.activeTab {
  background-color: var(--cor-primaria-light) !important;
  color: var(--cor-primaria) !important;
  border-color: color-mix(in srgb, currentColor 20%, white 80%) !important;
}

.tabs button span {
  font-size: .9rem;
  padding: 2px 8px;
  background-color: var(--cor-icons);
  color: var(--cor-primaria);
  border-radius: 5px;
}

.search {
  width: 30%;
}

.actionButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: var(--cor-primaria);
  color: white;
  transition: all .2s ease;
  font-weight: 500;
}

.actionButton:hover {
  background-color: var(--cor-primaria-dark);
}