.container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--cor-primaria);
  padding: 20px;
  border-radius: 15px;
}

.avatarAluno {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color-mix(in srgb, var(--cor-primaria) 80%, white 20%);
  font-size: 1.5rem;
  color: color-mix(in srgb, var(--cor-primaria) 2%, white 98%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: 400;
}

.informacoesAluno {
  display: flex;
  flex-direction: column;

  & h2 {
    font-size: 2rem;
    font-weight: 500;
    color: white;
  }

  & span {
    font-size: .95rem;
    margin-bottom: 10px;
    background-color: color-mix(in srgb, var(--cor-primaria) 80%, white 20%);
    padding: 5px 10px;
    width: fit-content;
    border-radius: 10px;
    border: 1px solid color-mix(in srgb, var(--cor-primaria) 40%, white 30%);
    color: white;
  }

  & h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
  }

  & h4 {
    font-size: 1.3rem;
    color: color-mix(in srgb, var(--cor-primaria) 20%, white 80%);
    font-weight: 400;
  }
}