.container {
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  gap: 20px;
  background-color: var(--cor-primaria);
  padding: 20px;
  border-radius: 15px;
}

.avatarAluno {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color-mix(in srgb, var(--cor-primaria) 80%, white 20%);
  font-size: 1.6rem;
  border: 1px solid color-mix(in srgb, var(--cor-primaria) 70%, white 30%);
  color: color-mix(in srgb, var(--cor-primaria) 2%, white 98%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-weight: 400;
}

.avatarAluno{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.informacoesAluno {
  display: flex;
  flex-direction: column;

  & h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
  }

  & > p {
    font-size: 1rem;
    color: white;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.info p {
  font-size: .9rem;
  padding: 5px 10px;
  background-color: color-mix(in srgb, var(--cor-primaria) 80%, white 20%);
  border: 1px solid color-mix(in srgb, var(--cor-primaria) 70%, white 30%);
  color: white;
  border-radius: 10px;
}