.questaoCard {
  background-color: var(--cor-fundo-card);
  border: 1px solid var(--cor-borda);
  border-radius: 15px;
  padding: 20px;
}
.questaoHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.questaoHeader div {
  display: flex;
  flex-direction: column;
}

.qNum {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--cor-texto-destaque);
  margin-bottom: 5px;
}

.qTipo {
  font-weight: 400;
  font-size: .9rem;
  color: var(--cor-subtexto);
}
.qPontos {
  font-size: 1rem;
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
  padding: 2px 10px;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
}

.questaoCard h4 {
  font-size: 0.9rem;
  color: var(--cor-subtexto);
  margin: 5px 0px;
  font-weight: 400;
}

.enunciado {
  padding: 20px;
  border-radius: 10px;
  background-color: #F9FAFB;
  color: var(--cor-texto);
  border: 1px solid var(--cor-borda);
}

.alternativas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.alternativas li {
  padding: 10px;
  border-radius: 10px;
  background-color: #F9FAFB;
  border: 1px solid var(--cor-borda);
}

.respostaCorreta,
.respostaAluno {
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.respostaCorreta {
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
}

.respostaAluno {
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
  font-weight: 500;
}

.respostaAluno.respCerta {
  background-color: var(--cor-sucesso-light);
  color: var(--cor-sucesso-dark);
}
.respostaAluno.respErrada {
  background-color: var(--cor-perigo-light);
  color: var(--cor-perigo);
}

.respostaAluno span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: .9rem;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 10px;
}

.respCerta span {
  background-color: var(--cor-sucesso);
  color: white;
}
.respErrada span {
  background-color: var(--cor-perigo);
  color: white;
}

.correcaoForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.field label {
  font-weight: 500;
  font-size: 0.9rem;
}
.field textarea,
.field input {
  border: 1px solid var(--cor-borda);
  background-color: var(--cor-fundo);
}

.field textarea {
  resize: none;
}
.field > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.field > div input {
  width: 80px;
}
.field > div button {
  background: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500; 
  border: 1px solid var(--cor-borda);
  color: var(--cor-subtexto);
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease;
}

.field > div button:hover {
  background-color: var(--cor-primaria);
  color: white;
}