.questaoCard {
  background-color: var(--cor-fundo-card);
  border: 1px solid var(--cor-borda);
  border-radius: 15px;
  padding: 20px;
}
.questaoHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.questaoHeader div {
  display: flex;
  flex-direction: column;
}

.qNum {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--cor-texto-destaque);
  margin-bottom: 5px;
}

.qTipo {
  font-weight: 400;
  font-size: .9rem;
  color: var(--cor-subtexto);
}
.qPontos {
  font-size: 1rem;
  background-color: var(--cor-primaria-light);
  color: var(--cor-primaria);
  padding: 2px 10px;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
}

.questaoCard h4 {
  font-size: 0.9rem;
  color: var(--cor-subtexto);
  margin: 5px 0px;
  font-weight: 500;
}

.enunciado {
  padding: 20px;
  border-radius: 10px;
  background-color: #F9FAFB;
  color: var(--cor-texto);
}

.respostaCorreta,
.respostaAluno {
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.respostaCorreta {
  background-color: var(--cor-sucesso-light);
}
.respostaAluno {
  background-color: #f0f0f0;
}
.respostaAluno.respCerta {
  background-color: var(--cor-sucesso-light);
}
.respostaAluno.respErrada {
  background-color: var(--cor-perigo-light);
}

.respostaAluno span {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 10px;
}
.respCerta span {
  background-color: var(--cor-sucesso);
  color: white;
}
.respErrada span {
  background-color: var(--cor-perigo);
  color: white;
}

.correcaoForm {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.field label {
  font-weight: 500;
  font-size: 0.9rem;
}
.field textarea,
.field input {
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid var(--cor-borda);
  background-color: var(--cor-fundo);
}
.field > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.field > div input {
  width: 80px;
}
.field > div button {
  background: none;
  border: 1px solid var(--cor-borda);
  width: 36px;
  height: 36px;
  border-radius: 6px;
  cursor: pointer;
}
