.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-fundo-card);
  height: 100vh;
  overflow: hidden;
  padding: 0px 100px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-left: 200px;
  max-width: 500px;
}

.title {
  text-align: center;
  max-width: 400px;

  & h1 {
    color: var(--cor-primaria-dark);
    margin-bottom: 10px;
    font-size: 2.5rem;
  }

  & p {
    font-size: 1.1rem;
    color: var(--cor-texto);
    font-weight: 400;
    line-height: 1.5;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 20px;

  & label {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
    font-weight: 500;

    & p {
      margin-left: 10px;
      color: var(--cor-texto);
    }

    & input {
      border-radius: 10px;
      width: 100%;
    }
  }
}

.button {
  width: 100%;
  max-width: 400px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--cor-primaria);
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--cor-primaria-hover);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.backLink {
  color: var(--cor-subtexto);
  transition: color 0.2s ease;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover {
    color: var(--cor-primaria);
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.successMessage {
  background-color: var(--cor-sucesso-light);
  color: var(--cor-sucesso-dark);
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--cor-sucesso-dark);
  text-align: center;
  max-width: 400px;
  width: 100%;
  line-height: 1.5;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  & img {
    z-index: 1000;
    max-width: 550px;
  }

  & .circle01 {
    position: absolute;
    z-index: 2;
    top: -150px;
    left: 200px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--cor-primaria);
  }

  & .circle02 {
    position: absolute;
    z-index: 1;
    bottom: -150px;
    left: 50px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: var(--cor-primaria-dark);
  }
}

@media (max-width: 768px) {
  .form {
    margin-left: 0;
  }

  .imageContainer {
    display: none;
  }

  .container {
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
  }

  .title h1 {
    font-size: 2rem;
  }

  .title p {
    font-size: 1rem;
  }
}
