.container {
  background-color: var(--cor-fundo-card);
  padding: 20px;
  border: 1px solid var(--cor-borda);
  border-radius: 15px;
  gap: 50px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.contentContainer {
  display: flex;
  gap: 20px;
  flex: 1;
}

.icone {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-primaria-light);
  font-size: 1.5rem;
  color: var(--cor-primaria);
  border-radius: 10px;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
}

.content {
  width: 100%;
}

.tituloContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.tituloContainer h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

.shortcuts {
  display: flex;
  gap: 10px;
}

.shortcuts li {
  font-size: 0.9rem;
  padding: 2px 10px;
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
  border-radius: 10px;
  background-color: color-mix(in srgb, var(--cor-cinza) 10%, white 90%);
  color: var(--cor-texto-destaque);
  font-weight: 500;
}

.shortcuts li:last-child {
  color: var(--cor-primaria);
  background-color: var(--cor-primaria-light);
}

.infoDates {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.infoDates li {
  display: flex;
  align-items: center;
  color: var(--cor-subtexto);
  gap: 5px;
}

.infoDates li p {
  color: var(--cor-subtexto);
}

.feedback {
  width: 100%;
  background-color: rgb(247, 247, 247);
  padding: 20px;
  border: 1px solid var(--cor-borda);
  border-radius: 10px;
}

.feedback p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cor-subtexto);
}

.resultContainer {
  display: flex;
  flex-direction: column;
  width: 15%;
  gap: 10px;
}

.nota p {
  text-align: right;
}

.nota p:first-child {
  font-size: 1.5rem;
  font-weight: 500;
}

.nota p:first-child span {
  font-size: 2rem;
}

.nota p:last-child {
  font-size: 1rem;
  color: var(--cor-subtexto);
}

.barraInfo p{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  color: var(--cor-subtexto);
  font-size: .9rem;
}

.erroBarra {
  background-color: var(--cor-perigo);
  height: 100%;
}

.positivoBarra {
  background-color: var(--cor-sucesso);
  height: 100%;
}

.botaoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--cor-texto);
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--cor-borda);
  font-weight: 500;
  transition: all .2s ease;
}

.botaoLink:hover {
  background-color: var(--cor-primaria);
  color: white;
  border-color: var(--cor-primaria);
}