.itemRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--cor-borda);
}

.infoAtividade {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icone {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-primaria-light);
  font-size: 1.5rem;
  border-radius: 10px;
  color: var(--cor-primaria-dark);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--cor-texto);
  display: flex;
  align-items: center;
  gap: 10px;
}

.content h3 span {
  font-size: .9rem;
  padding: 2px 10px;
  background-color: var(--cor-primaria-light);
  border: 1px solid color-mix(in srgb, currentColor 20%, white 80%);
  color: var(--cor-primaria);
  border-radius: 10px;
}

.content p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--cor-subtexto);
}

.statusContainer {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-items: flex-end;
}