.widget {
  background-color: var(--cor-fundo-card);
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var(--cor-borda);
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

.title {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--cor-texto-destaque);
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.title span {
  width: 5px;
  height: 25px;
  background-color: var(--cor-primaria);
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.dayColumn {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 15px;
  background-color: #f9fafb;
  padding: 5px;
  height: fit-content;
}

.diaSelecionado {
  background-color: var(--cor-primaria-light) ;
  border: 1px solid color-mix(in srgb, var(--cor-primaria) 20%, white 80%);
}

.dayHeader {
  text-align: center;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--cor-subtexto);
}

.dayNumber {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-texto-destaque);
  margin-top: 5px;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.event {
  background-color: var(--cor-primaria-hover);
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.eventMateria {
  color: white;
  font-weight: 500;
  font-size: .8rem;
  margin-bottom: 5px;
}

.eventTurma {
  color: white;
}

.eventTime {
  font-weight: 500;
  margin-top: 5px;
  color: white;
}